# Created and editted by Mitch S-A July 16, 2025

# Ignore scraping repository while edits are focused on part 2
Scrapers/

# Ignore MAC_Calculator_Output as it will constantly be changing
src/PXRD_Beam_Footprint_Calculator/MAC_Calculator_Directory/MAC_Calculator_Output.json

# Ignore the Profile_Calculator_Planning txt file
Profile_Calculator_Planning

# Ignore updates and revisions to Beam_Calculator presets
# src/PXRD_Beam_Footprint_Calculator/Beam_Calc_JSONs